/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /* tobar section  */
    .topbar-main{
        display: none;
    }
    /* tobar section  */
    /* navbar section  */
    .navbar-inner{
        height: 60px;
        max-height: 60px;
      }
    /* navbar section  */
   
    .carousel-main .slide .slide-img{
      height: 380px;
    }
    .tab-container .owl-carousel-section{
      height: 390px;
    }
    .tab-container .owl-carousel-section .carousel-items{
      height: 390px;
    }
    .tab-container .owl-carousel-section .carousel-items .product{
      height: 390px;
    }
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* tobar section  */
    .topbar-main{
        display: none;
    }
    /* tobar section  */
    /* navbar section  */
    .navbar-inner{
        height: 60px;
        max-height: 60px;
      }
    /* navbar section  */
    
    .carousel-main .slide .slide-img{
      height: 400px;
    }
    .tab-container .owl-carousel-section{
      height: 390px;
    }
    .tab-container .owl-carousel-section .carousel-items{
      height: 390px;
    }
    .tab-container .owl-carousel-section .carousel-items .product{
      height: 390px;
    }
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* tobar section  */
    .topbar-main{
        display: none;
    }
    /* tobar section  */
    /* navbar section  */
    .navbar-inner{
        height: 60px;
        max-height: 60px;
      }
    /* navbar section  */
    
    .carousel-main .slide .slide-img{
      height: 420px;
    }
    .tab-container .owl-carousel-section{
      height: 390px;
    }
    .tab-container .owl-carousel-section .carousel-items{
      height: 390px;
    }
    .tab-container .owl-carousel-section .carousel-items .product{
      height: 390px;
    }
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
    .carousel-main .slide .slide-img{
      height: 461px;
    }
  }
  
  /* Extra Large devices (desktops, 992px and up)*/
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    
    .global-cat-sec .global-cat-row .global-single-col .global-single-item{
      width: 250px;
      overflow: hidden;
    }
  }
  
  /* Extra Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1400px) {
    
    .global-cat-sec .global-cat-row .global-single-col .global-single-item{
      width: 250px;
      overflow: hidden;
    }
  }